<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="GithubXamarin.Droid.GithubXamarin.Droid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="GithubXamarin.Droid" android:icon="@drawable/Icon" android:theme="@style/MyTheme"></application>
</manifest>