<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarCoder.RestSharp.Portable" version="3.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="FubarCoder.RestSharp.Portable.Core" version="4.0.7" targetFramework="portable45-net45+win8+wpa81" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="4.0.7" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.File" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.Messenger" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.Network" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.Visibility" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.WebBrowser" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Octokit" version="0.24.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="sameerIOTApps.Plugin.SecureStorage" version="1.2.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Splat" version="2.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLitePCLRaw.core" version="1.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Connectivity" version="2.3.0" targetFramework="portable45-net45+win8+wpa81" />
</packages>