<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid70" />
  <package id="MvvmCross" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.FullFragging" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Shared" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.Core.UI" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.Core.Utils" version="4.4.1" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.Fragment" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.V4" version="4.4.1" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.V7.AppCompat" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Droid.Support.V7.RecyclerView" version="4.4.0" targetFramework="monoandroid70" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="monoandroid70" />
  <package id="Refractored.Controls.CircleImageView" version="1.0.1" targetFramework="monoandroid70" />
  <package id="sameerIOTApps.Plugin.SecureStorage" version="1.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.UI" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.Utils" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Design" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Fragment" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Media.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v13" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
</packages>